::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: mrgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background: #bfbfbf
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #494949;
  --text2: #5c5c5c;
  --blue: #0471FF;
  --bodyPadding: 10px;
  --green: #97D47A;
}

.a-link {
  cursor: pointer;
  text-decoration: none;
  color: #0471FF;
}

.my-tab {
  .el-tabs__nav-wrap {
    &::after {
      background: none;
    }
  }

  .el-tabs_header {
    margin: 0px;
  }
}

.my-collapse {
  .el-collapse-item__content {
    padding-bottom: 0px;
  }

  .el-collapse-item__wrap,
  .el-collapse,
  .el-collapse-item_header {
    border-bottom: none;
  }
}

.el-message-box {
  --webkit-app-region: no-drag;
}

.top_panel {
  .el-from-item {
    margin-bottom: 0px;
  }

  .second-row {
    margin-top: 5px;
  }
}
